:root {
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.container {
    width: 50%;
    margin: 0 auto;
}

.title {
    font-size: clamp(1rem, 1.5rem + 64.0vw, 2rem);
}

.div {
    font-size: clamp(1rem, 1.5rem + 64.0vw, 2rem);
}

.button {
    font-size: clamp(1rem, 1.5rem + 64.0vw, 2rem);
    font-variant-caps: all-petite-caps;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    color: black;
}

.browse {
    font-size: clamp(1rem, 1.5rem + 64.0vw, 2rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}